$fontPath: '/assets/fonts' !default;

$color-white: #ffffff;
$color-black: #000000;
$color-linen: #f7f0e8;

$fontName01: 'FontName' !default;
$fontFamilies01: Thin, Light, Regular, Medium, SemiBold, Bold, ExtraBold;
$fontWeights01: 200, 300, 400, 500, 600, 700, 900;
$fontStyles01: normal, normal, normal, normal, normal, normal, normal;

$FontName: 'FontName', sans-serif;
